#root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color: rgba(255, 255, 255, 0.87);
  background-color: #121417;
  font-synthesis: none;

  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.halfcourt-container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 750px;
  padding: 3rem;
  border-radius: 0.375rem;
  background-color: #212529;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  gap: 2rem;
}
