#root {
  width: 100%;
  display: flex;
  justify-content: center;
}

.halfcourt-container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 750px;
  padding: 2rem;
  border-radius: 1rem;
  background-color: rgb(51, 51, 51);
}

.halfcourt-container {
  transform: rotate(90deg);
  transform-origin: center;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.settings-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  /* padding: 2rem;
  border-radius: 1rem;
  background-color: rgb(51, 51, 51); */
}
